
        :root {
            --primaryColor: #0045AD;
            --secondaryColor: #002369;
            --thirdColor:#282F3D;
            --fm--primaryColor: #181C25;
            --fm--secondaryColor: #282F3D;
            --iconColor: #0045AD;
            --iconColorOp: #376CBB;
            --iconColorOp2: #7DA2DA;
            --folderColor: #F8C341;
        }
        